body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to full viewport height */
}

.container #main {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main h1 {
  text-align: center;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#text {
  width: 300px;

  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#qr-code {
  width: 100%;
  padding: 0px;

  border-radius: 5px;
}

#button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.qr-code{
  display: flex;
  

}
#buttonCopy{
  width: 50px;
  height: 20px;
 text-align: center;
  margin-top: 120px;
  margin-left: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}